.logo {
    display: flex;
    align-items: center;
}

.logo a {
    width: 30%;
    display: flex;
}

.info-privasi{
  position: relative;
  font-size: 0;
  text-align: right;
}

.info-privasi a{
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.info-privasi a:hover{
  color: #0085ff;
}

.info-privasi a:last-child{
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}


/* .hubungi-Kami li {
  display: inline-block;
  margin-right: 15px;
} */

.site-footer {
  background-color: #0c3261;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #f8f4f4;
  width: 100%;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  /* margin-top: 5px; */
  letter-spacing: 2px
}

.site-footer a {
  color: #ffffff;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.title-list-footer{
    font-weight: bold;
}

.footer-links {
  padding-left: 0;
  list-style: none;
  color: white;
  line-height: 35px;
  font-size: small;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #ffffff;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #4777DB;
}

.footer-links.inline li {
  display: inline-block
}


.text-justify {
  text-align: justify;
  color: white;
  /* display: flex;
  justify-content: flex-start; */
}